{% extends 'base.html' %}

{% block title %}
    <title>Главная страничка</title>
{% endblock %}

{% block body %}

 <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Вопросы из базы данных</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Посмотреть вопросы хранящиеся в базе данных</li>
            </ul>
            <a href="/api" type="button" class="w-100 btn btn-lg btn-outline-primary">Список вопросов</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Сгенерировать новые вопросы</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Перейти к настройкам генератора вопросов для пополнения базы данных</li>
            </ul>
            <a href="/api/add" type="button" class="w-100 btn btn-lg btn-outline-primary">Настройки генератора</a>

          </div>
        </div>
      </div>
    </div>

  </main>

{% endblock %}
